<div class="container">
    
    <div class="row">
      
        <div class="col">
            <h5>Agregra Nuevo Activo</h5>
            <div class="row">
                <div class="col">
                    <button (click)="TipoActivo()">Activos</button>
                </div>
                <div class="col">
                    <button (click)="TipoPerifericos()">Perifericos</button>
                </div>
                <div class="col">
                    <button (click)="TipoCosumibles()">Cosumibles</button>
                </div>
            </div>
            <form >
                <div>
                    <select  class="form-control mt-4"  >
                        <option *ngFor="let item of itemActivos; let indice=index" value={{item.id}}>
                            {{item.nombre}}
                        </option>
                    </select>
                </div>
                <div class="row m-3" *ngIf="Mostrar">
                    <select formControlName="idTipo" >
                         <option *ngFor = "let item of itemActivos" value={{item.id}}>
                            {{item.nombre}}
                         </option>
                    </select>
                 </div>
                 <div class="row m-3" *ngIf="Mostrar">
                    <select formControlName="idTipo" >
                         <option *ngFor = "let item of itemActivos" value={{item.id}}>
                            {{item.nombre}}
                         </option>
                    </select>
                 </div>
                 <div class="row m-3" *ngIf="Mostrar">
                    <select formControlName="idTipo" >
                         <option *ngFor = "let item of itemActivos" value={{item.id}}>
                            {{item.nombre}}
                         </option>
                    </select>
                 </div>

            </form>
        </div>

        <div class="col" >
            <table>
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Asinado</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Id Tipo</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
            </table>
        </div>

    </div>
</div>

