<div class="container">
    
    <div class="row">
      
        <div class="col">
            <h5>Agregra Nuevo Activo</h5>
            <div class="row">
                <div class="col">
                    <button (click)="TipoActivo()">Activos</button>
                </div>
                <div class="col">
                    <button (click)="TipoPerifericos()">Perifericos</button>
                </div>
                <div class="col">
                    <button (click)="TipoCosumibles()">Cosumibles</button>
                </div>
            </div>
            
                <div>
                    <select id="TipoActivos" class="form-control mt-4" (click)="ListarItem()" >
                        <option *ngFor="let item of itemActivos; let indice=index" value={{item.id}}>
                            {{item.nombre}}
                        </option>
                    </select>
                </div>
           
                <div class="container mt-4" *ngIf="Mostrar" > 
                    <div class="card">
                        <div class="card-body">
                          <span class="h3">Lista Activos</span>
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Modelo</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of itemActivos; let indice=index" >
                                <td>{{indice + 1}}</td>
                                <td>{{item.nombre}}</td>
                                <td>
                                  <i class="fas fa-edit text-info " style="margin-right: 7px;" ></i>
                                  <i class="fas fa-trash-alt text-danger" ></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>  
        </div>

        <div class="col" >
            <table>
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Asinado</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Id Tipo</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
            </table>
        </div>

    </div>
</div>

